body {
    margin: 0;
    font-family: Arial;
    font-size: 12px;
}
.top {
    height: 30px;
    background-color: #333; 
}
.topint {
    width: 100%;
    max-width: 1040px; 
    height: 30px;
    margin: auto; /* bloco no centralizado no meio da tela */
}
.topleft {
    width: 50%;
    height: 30px;
    float: left; /* alinha o bloco na esquerda */
}
.topright {
    width: 50%;
    height: 28px;
    float: right; /* alinha o bloco na direita */
    text-align: right;
    margin-top: 2px;
    
}
.topleft ul {
    margin: 0;
    padding: 0; 
    list-style: none; /* retira o estilo da lista */
}
.topleft li {
    height: 30px;
    line-height: 30px; 
    float: left; /* alinha cada item um ao lado do outro */
    margin-left: 8px;
    margin-right: 8px; 
}
.topleft li a {
    text-decoration: none; /* retira qualquer estilo do link */
    color: #FFFFFF;
}
.topleft li .active {
    color: yellow;
}
.topsearch {
    width: 100px;
    height: 26px;
    outline: 0; /* retira o contorno azul da barra de pesquisa */
}
.topright a {
    float: right;
}
.topright input {
    float: right;  
}
.topright img {
    margin-right: 4px;
}
.lupa {
    margin-left: 4px;
}
.top2 {
    height: 95px;
    color: #FFFFFF;
}
.topint2 {
    width: 100%;
    max-width: 1040px; 
    height: 95px;
    margin: auto; /* bloco no centralizado no meio da tela */
}
.logo {
    width: 230px;
    height: 95px;
    float: left;
}
.top2 .ads {
    width: 650px;
    height: 80px;
    float: right;
    background-color: red;
    margin-top: 7px;
    margin-bottom: 7px;
}
.logo img {
    width: 80px;
    height: 80px;
    float: left;
    margin-top: 7px;
}
.menu2 {
    height: 40px;
    background-color: red;
}
.menu2int {
    width: 100%;
    height: 40px;
    max-width: 1040px; 
    margin: auto;
}
.menu2int ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu2int li {
    float: left;
    height: 40px;
    line-height: 40px;
    padding-left: 8px;
    padding-right: 8px;
}
.menu2int li:hover .submenu1 { /* entra em menu > entra em li e verifica se o mouse está emcima desse li > entra em submenu e mostra a lista */
    display: block;
}
.menu2int a {
    text-decoration: none;
    color: #FFFFFF;
}
.submenu1 {
    width: 150px;
    height: 150px;
    background-color: red;
    position: absolute;
    display: none; /* Não aparecer o submenu antes de uma determinada ação */
}
.menu2int li:hover .submenu2 {
    display: block;
}
.submenu2 {
    width: 150px;
    background-color: red;
    position: absolute;
    display: none;
}
.menu2int li:hover .submenu3 {
    display: block;
}
.submenu3 {
    width: 150px;
    background-color: red;
    position: absolute;
    display: none;
}
.submenuitem {
    width: 140px;
    height: 30px;
    line-height: 30px; 
    padding-left: 10px;
}
.submenuitem:hover {
    background-color: #FF5555;
}
.lastnewsmenu {
    height: 40px;
}
.lastnewsmenuint {
    width: 100%;
    height: 40px;
    max-width: 1040px; 
    margin: auto;
}
.lastnewsarea {
    height: 28px;
    color: #FFFFFF;
    border: 1px solid #CCC;
    margin-top: 10px;
}
.lastnewstitle {
    background-color: red;
    color: #FFFFFF;
    height: 28px;
    line-height: 28px; 
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px; 
    font-size: 16px;
}
.lastnewsdescription {
    color: black;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;    
}
.containerint {
    width: 100%;
    max-width: 1040px; 
    margin: auto;
}
.leftside {
    width: 753px;
    float: left;
}
.rightside {
    width: 275px;
    float: right;
    margin-left: 12px;
}
.widget {
    background-color: #FFFFFF;
    border: 1px solid #CCC;
    margin-bottom: 10px;
}
.widget_title {
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
    font-size: 13px;  
    background-color: #EEE;
}
.widget_content {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.news_text {
    text-align: left;
    margin: 0px 7px;
    border-bottom: 1px solid #CCC;
    padding: 7px 0px;
}
.news_text a {
    text-decoration: none;
    color: black;
}
.slideshow {
    height: 335px;
    overflow: hidden; /* overflow: comportamento da div quando houver algum conteúdo que passe da área dela, ou seja, hidden */
    margin-bottom: 20px;
}
.slideshowarea {
    height: 335px;
    transition: all 2s;
}
.slide {
    height: 335px;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* aumenta a imagem proporcionalmente */
}
.slideinfo {
    height: 70px;
    background-image: url('../images/slideshow_bg.png');
    background-size: auto 70px;
    margin-top: 265px;
}
.slideinfo_title {
    font-size: 20px;
    color: #FFFFFF;
    padding-top: 15px;
    padding-left: 15px;
}
.slideinfo_subtitle {
    font-size: 13px;
    color: #FFFFFF;
    padding-left: 15px;
}
.slideball {
    position: absolute;
    width: 200px;
    height: 20px;
}
.ball {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #CCC;
}
.newsarea1 {
    width: 430px;
    height: 420px;
    float: left;
}
.newsarea2 {
    width: 320px;
    height: 420px;
    float: left;
}
.newsitem {
    text-align: left;
    height: 88px;
    margin-top: 7px;
    margin-bottom: 7px;
}
.newsimg {
    width: 80px;
    height: 80px;
    border: 1px solid #CCC;
    padding: 3px;
    float: left;
}
.newstitle {
    margin-left: 6px;
    font-size: 14px; 
    float: left;
    width: 226px;
}
.newsinfo {
    width: 226px;
    font-size: 11px;
    margin-left: 6px;
    color: #999;
    float: left;
}
.newsmain {
    margin-left: 10px;
}
.newsmain .newsimg {
    width: 384px;
    height: 222px;
}
.newsmain .newsimg img {
    width: 384px;
    height: 222px;
}
.newsmain .newstitle {
    font-size: 25px;
    width: 384px;
}

@media only screen and (min-width: 906px) and (max-width: 1057px) {
    .topint,
    .topint2,
    .topint2,
    .lastnewsmenuint,
    .containerint {
        max-width: 890px;
    }
    .leftside {
        width: 600px;
    }
    .newsarea1 {
        width: 278px;
    }
    .newsmain .newsimg {
        width: 245px;
    }
    .newsmain .newsimg img {
        width: 245px;
    }
    .newsmain .newstitle {
        width: 245px;
        font-size: 25;
    }
}

@media only screen and (min-width: 784px) and (max-width: 906px) {
    .topint,
    .topint2,
    .topint2,
    .lastnewsmenuint,
    .containerint {
        max-width: 768px;
    }
    .topint2 .ads {
        display: none;
        
    }
    .logo {
        float: none;
        margin: auto;
    }
    .rightside {
        display: none;
    }
    .leftside {
        float: none;
        width: auto;
    }
    .newsarea1 {
        width: 446px;
    }
    .newsmain .newsimg {
        width: 245px;
    }
    .newsmain .newsimg img {
        width: 245px;
    }
    .newsmain .newstitle {
        width: 215px;
        font-size: 25;
    }
}

@media only screen and (min-width: 784px) {
    .topint,
    .topint2,
    .topint2,
    .lastnewsmenuint,
    .containerint {
        max-width: 320px;
    }
    .topleft {
        display: none;
    }
    .topright {
        width: 100%;
    }
    .topint2 .ads {
        display: none;
    }
    .logo {
        float: none;
        margin: auto;
    }
    .menu2int {
        display: none;
    }
    .lastnewsmenu{
        display: none;
    }
    .rightside {
        display: none;
    }
    .leftside {
        float: none;
        width: auto;
        margin-top: 10px;
    }
    .newsarea1 {
        width: 320px;
        height: auto;
    }
    .newsmain .newsimg {
        width: 289px;
    }
    .newsmain .newsimg img {
        width: 289px;
    }
    .newsmain .newstitle {
        width: 289px;
        font-size: 25;
    }
    .newsarea2 {
        width: 300px;
        margin: auto;
        float: none;
        clear: both;
        padding-top: 20px;
    }
    .newsitem {
        clear: both;
    }
    .newstitle {
        width: 206px;
    }
    .newsinfo {
        width: 206px;
    }
}
/* 16:46 */